Copywriter.json
{
  "name": "Copywriter",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "cc10791b-2a3c-4189-b2ac-b0eeac5950dc",
      "name": "Telegram Trigger",
      "webhookId": "bea630de-da04-4ac5-bf48-36f5041fc854",
      "credentials": {
        "telegramApi": {
          "id": "XBIfg6vl4xTENVwb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Ты — автор телеграм-канала @alfa_investments.  \nТвоя задача — превращать входной текст в посты в стиле рубрики #альфаиндекс.  \n\nОсновные правила:  \n— Стиль лаконичный, деловой, с лёгкими акцентами в виде эмодзи (📉📈❤️👀📌).  \n— В начале — краткий факт или динамика индекса (пример: «📉 На 10:10 мск индекс Мосбиржи снижается на 0,33%.»).  \n— Далее: конкретные примеры роста/снижения акций с указанием компаний и процентов.  \n— Потом блок аналитики: «❤️ Альфа-Индекс — … баллов из 100. Ключевые факторы …»  \n— Завершающий блок: «Главное на сегодня 👀» или «Важное за [день недели] 📌» с маркированными пунктами.  \n— В конце всегда добавляй динамику ключевых индексов и валют (IMOEX2, S&P 500, Brent, USD/RUB, CNY/RUB).  \n— Обязательно используй хэштег #альфаиндекс и упоминание @alfa_investments.  \n\nНе придумывай новости, а стилизуй текст так, будто это свежий рыночный обзор от Альфа Инвестиций. \n\nПримеры постов в стиле рубрики #альфаиндекс\n📉 На 10:10 мск индекс Мосбиржи снижается на 0,33%. В минусе акции ЭН+ Груп (−1,23%), ВТБ (−1,04%) и Аэрофлота (−0,88%). Растут бумаги Южуралзолота (+1,58%), Полюса (+1,03%) и ФосАгро (+0,32%). \n\n❤️ Альфа-Индекс — 50 баллов из 100. Рынок замер в ожидании заседания ЦБ, надеясь на мягкий сигнал. Ослабление рубля усиливает неопределённость. Геополитика отошла на второй план, хотя риски сохраняются. \n\nГлавное на сегодня 👀 \n\n🟢ЦБ примет решение по ключевой ставке и проведёт пресс-конференцию. \n\n🟢МГКЛ по предварительным данным нарастил (https://mgkl.group/news-center/news/) выручку за январь-август до 14,5 млрд рублей. \n\nВажное за четверг ⤵️ \n\n🔴Индекс Мосбиржи весь день провёл около 2900 пунктов. Хуже рынка выглядел сектор недвижимости, устойчивей остальных — акции нефтяников. \n\n🔴ВТБ завершил сбор заявок по преимущественному праву в рамках допэмиссии (https://alfabank.ru/alfa-investor/t/chto-takoe-dopemissiya-aktsiy/?platformId=tg_ai_referral_tg_post_120925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=120925_1). \n\n🔴У Аэрофлота в августе снизился пассажиропоток (https://ir.aeroflot.ru/ru/novosti/article/58458/) на 1,7% год к году. Занятость кресел упала с 93,6% до 92%. \n\n🔴Юань в моменте поднимался выше 12 рублей.\n\n🔴На рынке акций США продолжается подъём перед заседанием ФРС. \n\nДинамика за четверг📌 \n\nIMOEX2 2908,14 (−0,21%) \nS&P 500 6587,47 (+0,85%) \nBrent 66,25 $ (−1,92%) \nUSD/RUB 85,66 (+0,88%) \nCNY/RUB 11,94 (+0,27%) \n\nБольше деталей на сайте Альфа-Инвестор (https://alfabank.ru/alfa-investor/t/glavnoe-k-otkrytiyu-12-09-2025/?platformId=tg_ai_referral_tg_post_120925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=120925_1) Как торговать с Альфа-Индексом (https://t.me/alfa_investments/6345) \n\n#альфаиндекс \n@alfa_investments \n\n\n📉 На 10:10 мск индекс Мосбиржи теряет 0,13%. Больше других снижаются акции Полюса (0,8%), Юнипро (−0,36%) и Новатэка (−0,19%). В плюсе бумаги ЭН+ Груп (+0,57%), Сургутнефтегаза (+0,53%) и Татнефти (+0,40%). \n\n❤️ Альфа-Индекс — 50 баллов из 100. Инвесторы заняли выжидательную позицию из-за противоречивых факторов: с одной стороны, геополитические риски и рост недельной инфляции, с другой — дефляция в августе и ожидания снижения ключевой ставки. \n\nГлавное на сегодня 👀 \n\n🔴Данные по инфляции (https://www.interfax.ru/business/1046608) заставили сомневаться инвесторов в том, что ЦБ опустит ставку сразу на 2 п.п. Вероятность изменения на 1 п.п. подросла. \n\n🔴Последний день для покупки акций ВИ.ру под дивиденды в размере один рубль с доходностью 1,2%. \n\n🔴Собрание акционеров ФосАгро решит вопрос дивидендов. \n\n🔴Заседание ЕЦБ по ключевой ставке. \n\nВажное за среду 📌 \n\n🟢Рынок акций снижался, все отраслевые индексы закрылись в минусе. \n\n🟢На рынке облигаций доходности длинных ОФЗ приблизились к 14% годовых. \n\n🟢Юань дорожал седьмую сессию подряд. Аналитики видят признаки (https://alfabank.ru/alfa-investor/t/rubl-padaet-8-nedel-podryad-razvorot-proizoshel-/?platformId=tg_ai_referral_tg_post_110925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=110925_1) локальной перегретости, но ждут, что рост продолжится. \n\n🟢Цена тройской унции золота остаётся вблизи (https://alfabank.ru/alfa-investor/t/zoloto-bet-maksimumy-chego-zhdat-dalshe-/?platformId=tg_ai_referral_tg_post_110925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=110925_1) рекордных 3650 $. \n\n🟢Цена нефти Brent подскочила до 67,5 $, но в ближайшие месяцы есть риски для снижения (https://alfabank.ru/alfa-investor/t/neft-i-gaz-vyrosli-v-nachale-nedeli/?platformId=tg_ai_referral_tg_post_110925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=110925_1) котировок.\n\n🟢Ключевые индексы рынка акций США обновили исторические максимумы. \n\nДинамика за среду ✔️ \n\nIMOEX2 2908 (−0,95%)\nS&P 500 6532,04 (+0,3%)\nBrent 67,55 $ (+1,57%)\nUSD/RUB 84,92 (+2,02%) CNY/RUB 11,91 (+1,18%)\n\nБольше деталей на сайте Альфа-Инвестор (https://alfabank.ru/alfa-investor/t/glavnoe-k-otkrytiyu-10-09-2025/?platformId=tg_ai_referral_tg_post_110925_1&utm_source=tg_ai&utm_medium=referral&utm_campaign=tg_post&utm_content=110925_1) Как торговать с Альфа-Индексом (https://t.me/alfa_investments/6345) \n\n#альфаиндекс\n@alfa_investments"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        192,
        0
      ],
      "id": "4c47b20b-2362-454a-b083-e1c27383f29c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "326c6e1f-8fd8-43b1-b110-686ff839c4b2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GPCEXZEGkC1NdXRV",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        0
      ],
      "id": "3f400d50-621c-4748-bcc9-b95f117a4ddd",
      "name": "Response",
      "webhookId": "77551c08-06cf-40b4-9ee1-6717a00f8689",
      "credentials": {
        "telegramApi": {
          "id": "XBIfg6vl4xTENVwb",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        240,
        224
      ],
      "id": "d70866f3-3a2a-47f7-a4fe-0b95583cf63d",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d847d19-5c52-438f-83a5-a0760b1e7817",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "93faefdd37124778aa72d7370e3c4d47fa76aa212530231a681c628c9df4eef6"
  },
  "id": "Dv7kR2NSBqL83AXq",
  "tags": []
}